/* Estilos personalizados para el scrollbar */
        #chat-history::-webkit-scrollbar {
            width: 8px;
        }

        #chat-history::-webkit-scrollbar-thumb {
            background-color: #F58427; /* green-200 */
            border-radius: 4px;
        }

        #chat-history::-webkit-scrollbar-track {
            background-color: #FF7300; /* green-50 */
        }
